@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  font-family: $primary;
  font-weight: 400;
  color: $main-text;
  background-color: $main-bg;

  &.modal-open {
    overflow: hidden;
  }
}

main {
  flex: 1 1 100%;
  // display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 3.75rem 0;

  @media screen and (min-width: $pc) {
    padding: 5.875rem 0;
  }
}

.container {
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  max-width: 75rem;
}

.title {
  margin-bottom: 30px;

  font-size: 36px;
  line-height: 116.666667%; /* 42/36 */
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: $pc) {
    margin-bottom: 50px;
  }
}

.main-btn {
  min-width: 12.5rem;
  min-height: 3.125rem;
  padding: 0.625rem 1.5625rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  font-weight: 700;
  font-size: 1rem;
  line-height: 187.5%; /* 30/16 */
  letter-spacing: 0.06em;
  color: $white-text;

  background: $btn-bg;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.15);

  border: none;
  border-radius: 0.25rem;

  cursor: pointer;
}

.social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.social-item {
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.75rem;
  height: 2.75rem;

  border-radius: 50%;

  cursor: pointer;

  transition: color $main-trn, background-color $main-trn;

  &:hover,
  &:focus {
    color: $white-text;
    background-color: $text-accent;
  }

  & svg {
    fill: currentColor;
  }
}
