@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  height: 100%;
  font-family: $primary;
  font-weight: 400;
  color: $main-text;
  background-color: $main-bg;

  &.modal-open {
    overflow: hidden;
  }
}

main {
  flex: 1 1 100%;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 3.75rem 0;

  @media screen and (min-width: $pc) {
    padding: 5.875rem 0;
  }
}

.container {
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  max-width: 75rem;
}
