.footer {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;

  background-color: $foot-bg;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media screen and (max-width: calc($tablet - 0.0375rem)) {
    gap: 3.75rem;
  }

  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }

  @media screen and (min-width: $tablet) and (max-width: calc($pc - 0.0375rem)) {
    padding-left: 4.75rem;
    padding-right: 4.75rem;
    justify-content: center;
    column-gap: 10.3125rem;
    row-gap: 3.75rem;
  }

  @media screen and (min-width: $pc) {
    justify-content: space-between;
    align-items: center;
  }
}

.footer__contacts-box {
}

.footer-logo {
  margin-bottom: 1.75rem;
  display: block;
  text-align: center;
  color: $white-text;
}

.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
}

.footer__contacts-item {
}

.footer__contacts-address {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 114.285714%; /* 16/14 */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__contacts-link {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 114.285714%; /* 16/14 */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mail-link {
}
.tel-link {
}
.footer__social-box {
}

.footer__title {
  margin-bottom: 1.25rem;

  font-weight: 700;
  font-size: 0.875rem;
  line-height: 114.285714%; /* 16/14 */
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white-text;

  @media screen and (max-width: calc($pc - 0.0375rem)) {
    text-align: center;
  }
}

.social-title {
}
.footer__social-list {
}
.footer__social-item {
}

.footer__social-link {
  color: $white-text;
  background: rgba(255, 255, 255, 0.1);
}

.footer_subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;

  @media screen and (min-width: $tablet) and (max-width: calc($pc - 0.0375rem)) {
    min-width: 28.125rem;
    flex-basis: 60%;
  }

  @media screen and (min-width: $pc) {
    flex-direction: row;
    align-items: flex-end;
    flex-basis: 35.625rem;
  }
}

.footer__subscribe-label {
  width: 100%;

  @media screen and (max-width: calc($tablet - 0.0375rem)) {
    max-width: 28.125rem;
  }
}

.subscribe-title {
}

.footer__subscribe-input {
  width: 100%;
  min-height: 3.125rem;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;

  background-color: $foot-bg;
  color: $white-text;

  border: 0.0625rem solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.15));
  border-radius: 0.25rem;

  transition: color $main-trn, outline-color $main-trn;

  &:hover,
  &:focus-within {
    border-color: $text-accent;
    outline: 0.0625rem solid $text-accent;
  }
}

.footer__subscribe-btn {
  padding-left: 1.875rem;
  padding-right: 1.875rem;

  & svg {
    fill: currentColor;
  }
}
