.header {
  min-height: 3.75rem;
  display: flex;
  align-items: center;

  @media screen and (max-width: $mobile) {
    position: relative;
  }

  @media screen and (min-width: calc($tablet - 0.0031rem)) {
    min-height: 5rem;
  }
}

.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.page-logo {
  font-family: $secondary;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 116.666667%; /* 28/24 */
  letter-spacing: 0.03em;

  & > span {
    color: $text-accent;
  }

  @media screen and (min-width: $pc) {
    font-size: 1.625rem;
    line-height: 119.230769%; /* 31/26 */
  }
}

.menu__btn {
  margin-left: auto;
  padding: 0.75rem 0.5rem;

  background: none;
  color: currentColor;
  border: none;
  cursor: pointer;
  z-index: 999;
}

.btn__icon {
  display: block;
  position: relative;

  width: 24px;
  height: 16px;

  transition: all $main-trn;

  & > span,
  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;

    background-color: currentColor;

    transition: transform $main-trn;
  }

  &::before,
  &::after {
    content: ' ';
  }

  & > span {
    top: 50%;
    transform: scale(1) translateY(-50%);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &:hover {
    color: $text-accent;
  }

  .menu__btn.active & > span {
    transform-origin: left;
    transform: scale(0);
  }

  .menu__btn.active &::before {
    transform-origin: top left;
    transform: rotate(38deg);
  }

  .menu__btn.active &::after {
    transform-origin: bottom left;
    transform: rotate(-38deg);
  }

  @media screen and (min-width: calc($tablet - 0.0031rem)) {
    display: none;
  }
}

.header__menu {
  @media screen and (max-width: calc($tablet - 0.0031rem)) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 3rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;

    background-color: $main-bg;
    overflow: auto;
    z-index: 10;

    transform: translateX(-100%);
    transition: transform $main-trn;

    &.menu-open {
      transform: translateX(0);
    }
  }

  @media screen and (min-width: calc($tablet - 0.05px)) {
    margin-left: 5.625rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;

  @media screen and (min-width: calc($tablet - 0.0031rem)) {
    flex-direction: row;
    gap: 3.125rem;
  }
}

.nav__link {
  display: block;

  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 117.5%; /* 47/40 */
  letter-spacing: 0.02em;

  transition: color $main-trn;

  &.active {
    color: $text-accent;

    @media screen and (min-width: calc($tablet - 0.0031rem)) {
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: ' ';
        width: 100%;
        height: 0.125rem;
        background-color: $btn-bg;
        border-radius: 0.625rem;
      }
    }
  }

  &:hover:not(.active),
  &:focus-visible:not(.active) {
    color: $text-accent;
  }

  @media screen and (min-width: calc($tablet - 0.0031rem)) {
    position: relative;
    padding: 1.9375rem 0;

    font-size: 0.875rem;
    line-height: 114.285714%; /* 16/14 */
  }
}

.header__contacts {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media screen and (max-width: calc($tablet - 0.0031rem)) {
    margin-bottom: 4rem;
  }

  @media screen and (min-width: calc($tablet - 0.0031rem)) {
    flex-direction: column-reverse;
    gap: 0.625rem;
  }

  @media screen and (min-width: calc($pc - 0.0031rem)) {
    flex-direction: row-reverse;
    gap: 2.5rem;
  }
}

.contacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $sec-text;

  transition: color $main-trn;

  &:hover {
    color: $text-accent;
  }

  @media screen and (min-width: calc($tablet - 0.0031rem)) {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 0.75rem;
    line-height: 116.666667%; /* 14/12 */
  }
}

.tel__link {
  font-size: 2rem;
  line-height: 125%; /* 40/32 */

  @media screen and (min-width: calc($tablet - 0.0031rem)) {
    font-size: 0.75rem;
    line-height: 116.666667%; /* 14/12 */
  }
}

.mail__link {
  font-size: 1.5rem;
  line-height: 116.666667%; /* 28/24 */

  @media screen and (min-width: calc($tablet - 0.0031rem)) {
    font-size: 0.75rem;
    line-height: 116.666667%; /* 14/12 */
  }
}

.contacts__link-icon {
  display: flex;
  width: 0.75rem;
  height: 0.625rem;

  & use {
    fill: currentColor;
  }

  @media screen and (max-width: calc($tablet - 0.0031rem)) {
    display: none;
  }
}

.social {
  display: flex;

  @media screen and (min-width: calc($tablet - 0.0031rem)) {
    display: none;
  }
}

.social__item {
  &:not(:last-child) {
    padding-right: 0.5rem;
    border-right: 0.0625rem solid rgba(33, 33, 33, 0.2);
  }

  &:not(:first-child) {
    padding-left: 0.5rem;
  }
}
.social__link {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 157.142857%; /* 22/14 */
  letter-spacing: 0.02em;

  color: $text-accent;
}
