.team {
  background: #f5f4fa;
}
.team__wrapper {
}
.team__title {
}

.team__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
  }
}

.team__item {
  margin: 0 auto;
  max-width: 28.125rem;
  padding-bottom: 24px;

  background: $main-bg;
  box-shadow: 0rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12),
    0rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.14),
    0rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.2);
  border-radius: 0rem 0rem 0.25rem 0.25rem;

  @media screen and (max-width: calc($tablet - 0.0375rem)) {
    &:not(:last-child) {
      margin-bottom: 3.75rem;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 1.875rem) / 2);
  }

  @media screen and (min-width: $pc) {
    flex-basis: calc((100% - 5.625rem) / 4);
    padding-bottom: 30px;
  }
}

.card__img-box {
  margin-bottom: 1.875rem;
}

.card__title {
  margin-bottom: 0.625rem;

  font-weight: 500;
  font-size: 1rem;
  line-height: 118.75%; /* 19/16 */
  text-align: center;
  letter-spacing: 0.03em;
}

.card__text {
  margin-bottom: 1rem;

  font-size: 1rem;
  line-height: 118.75%; /* 19/16 */
  text-align: center;
  letter-spacing: 0.03em;
  color: $sec-text;
}

.card__social-list {
}

.card__social-item {
}

.card__social-link {
  color: #afb1b8;
}
