<footer class="footer">
  <div class="footer__wrapper container">
    <div class="footer__contacts-box">
      <a href="#" class="footer-logo page-logo"><span>Web</span>Studio</a>
      <ul class="footer__contacts-list">
        <li class="footer__contacts-item">
          <p class="footer__contacts-address">
            26 Lesi Ukrainky Ave, Kyiv, Ukraine
          </p>
        </li>
        <li class="footer__contacts-item">
          <a
            href="mailto:info@devstudio.com"
            class="footer__contacts-link mail-link"
          >
            info@devstudio.com
          </a>
        </li>
        <li class="footer__contacts-item">
          <a
            href="tel:+38 096 111 11 11"
            class="footer__contacts-link tel-link"
          >
            +38 096 111 11 11
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__social-box">
      <h2 class="footer__title social-title">join in</h2>
      <ul class="footer__social-list social-list">
        <li class="footer__social-item social-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="footer__social-link social-link"
            aria-label="link to instagram"
          >
            <svg width="20" height="20">
              <use href="./images/sprite.svg#icon-instagram" />
            </svg>
          </a>
        </li>
        <li class="footer__social-item social-item">
          <a
            href="https://twitter.com/"
            target="_blank"
            class="footer__social-link social-link"
            aria-label="link to twitter"
          >
            <svg width="20" height="20">
              <use href="./images/sprite.svg#icon-twitter" />
            </svg>
          </a>
        </li>
        <li class="footer__social-item social-item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            class="footer__social-link social-link"
            aria-label="link to facebook"
          >
            <svg width="20" height="20">
              <use href="./images/sprite.svg#icon-facebook" />
            </svg>
          </a>
        </li>
        <li class="footer__social-item social-item">
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            class="footer__social-link social-link"
            aria-label="link to linkedin"
          >
            <svg width="20" height="20">
              <use href="./images/sprite.svg#icon-linkedin" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <form class="footer_subscribe-form js-sub-form">
      <label class="footer__subscribe-label">
        <h2 class="footer__title subscribe-title">
          Subscribe to the newsletter
        </h2>
        <input
          type="email"
          name="email"
          placeholder="E-mail"
          class="footer__subscribe-input"
        />
      </label>
      <button type="submit" class="footer__subscribe-btn main-btn">
        Subscribe
        <svg width="24" height="24">
          <use href="./images/sprite.svg#icon-send" />
        </svg>
      </button>
    </form>
  </div>
</footer>
