<header class="header">
  <div class="header__wrapper container">
    <a href="./index.html" class="page-logo"><span>Web</span>Studio</a>
    <button
      type="button"
      class="menu__btn js-toggle-btn"
      aria-label="open the mobile menu"
      aria-expanded="false"
      aria-controls="header__menu"
    >
      <span class="btn__icon">
        <span></span>
      </span>
    </button>
    <div class="header__menu js-menu-container" id="header__menu">
      <nav class="header__nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="./index.html" class="nav__link active">Studio</a>
          </li>
          <li class="nav__item">
            <a href="./portfolio.html" class="nav__link">Portfolio</a>
          </li>
          <li class="nav__item">
            <a href="./contacts.html" class="nav__link">Contacts</a>
          </li>
        </ul>
      </nav>
      <div>
        <div class="header__contacts">
          <a href="tel:+38 096 111 11 11" class="contacts__link tel__link">
            <span>
              <svg class="contacts__link-icon">
                <use href="./images/sprite.svg#icon-smartphone" />
              </svg>
            </span>
            +38 096 111 11 11
          </a>
          <a href="mailto:info@devstudio.com" class="contacts__link mail__link">
            <span>
              <svg class="contacts__link-icon">
                <use href="./images/sprite.svg#icon-envelope" />
              </svg>
            </span>
            info@devstudio.com
          </a>
        </div>
        <ul class="social">
          <li class="social__item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="social__link"
              >Instagram</a
            >
          </li>
          <li class="social__item">
            <a href="https://twitter.com/" target="_blank" class="social__link"
              >Twitter</a
            >
          </li>
          <li class="social__item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="social__link"
              >Facebook</a
            >
          </li>
          <li class="social__item">
            <a
              href="https://www.linkedin.com/"
              target="_blank"
              class="social__link"
              >LinkedIn</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
