<section class="services section">
  <div class="services__wrapper container">
    <h2 class="services__title title">What do we do?</h2>
    <ul class="services__list">
      <li class="services__item">
        <div class="service__box">
          <picture>
            <source
              srcset="./images/services/1.jpg 1x, ./images/services/1@2x.jpg 2x"
              type="image/jpeg"
            />
            <img src="./images/services/1.jpg" alt="what do we do" />
          </picture>
          <div class="service__text-wrapper">
            <p class="service__text">Desktop applications</p>
          </div>
        </div>
      </li>
      <li class="services__item">
        <div class="service__box">
          <picture>
            <source
              srcset="./images/services/2.jpg 1x, ./images/services/2@2x.jpg 2x"
              type="image/jpeg"
            />
            <img src="./images/services/2.jpg" alt="what do we do" />
          </picture>
          <div class="service__text-wrapper">
            <p class="service__text">Mobile applications</p>
          </div>
        </div>
      </li>
      <li class="services__item">
        <div class="service__box">
          <picture>
            <source
              srcset="./images/services/3.jpg 1x, ./images/services/3@2x.jpg 2x"
              type="image/jpeg"
            />
            <img src="./images/services/3.jpg" alt="what do we do" />
          </picture>
          <div class="service__text-wrapper">
            <p class="service__text">Design solutions</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
