<section class="features section">
  <div class="features__wrapper container">
    <h2 class="features__title">Our features</h2>
    <ul class="features__list">
      <li class="features__item feature">
        <div class="feature__img-box">
          <span class="feature__icon">
            <svg width="70" height="70">
              <use href="./images/sprite.svg#icon-antenna" />
            </svg>
          </span>
        </div>
        <h3 class="feature__title">attention to details</h3>
        <p class="feature__text">
          Ideological considerations, and even the beginning of daily work on
          forming a position.
        </p>
      </li>
      <li class="features__item feature">
        <div class="feature__img-box">
          <span class="feature__icon">
            <svg width="70" height="70">
              <use href="./images/sprite.svg#icon-clock" />
            </svg>
          </span>
        </div>
        <h3 class="feature__title">punctuality</h3>
        <p class="feature__text">
          The task of the organization, especially the framework and the place
          of personnel training, attracts.
        </p>
      </li>
      <li class="features__item feature">
        <div class="feature__img-box">
          <span class="feature__icon">
            <svg width="70" height="70">
              <use href="./images/sprite.svg#icon-diagram" />
            </svg>
          </span>
        </div>
        <h3 class="feature__title">planning</h3>
        <p class="feature__text">
          Likewise, consultation with a broad asset largely determines.
        </p>
      </li>
      <li class="features__item feature">
        <div class="feature__img-box">
          <span class="feature__icon">
            <svg width="70" height="70">
              <use href="./images/sprite.svg#icon-astronaut" />
            </svg>
          </span>
        </div>
        <h3 class="feature__title">modern technology</h3>
        <p class="feature__text">
          The importance of these problems is so obvious that the implementation
          of planned tasks.
        </p>
      </li>
    </ul>
  </div>
</section>
