<section class="clients section">
  <div class="clients__wrapper container">
    <h2 class="clients__title title">Regular customers</h2>
    <ul class="clients__list">
      <li class="clietns__item">
        <a
          href="#"
          target="_blank"
          class="item__social-link"
          aria-label="link to client site"
        >
          <svg width="106" height="60">
            <use href="./images/sprite.svg#icon-client1" />
          </svg>
        </a>
      </li>
      <li class="clietns__item">
        <a
          href="#"
          target="_blank"
          class="item__social-link"
          aria-label="link to client site"
        >
          <svg width="106" height="60">
            <use href="./images/sprite.svg#icon-client2" />
          </svg>
        </a>
      </li>
      <li class="clietns__item">
        <a
          href="#"
          target="_blank"
          class="item__social-link"
          aria-label="link to client site"
        >
          <svg width="106" height="60">
            <use href="./images/sprite.svg#icon-client3" />
          </svg>
        </a>
      </li>
      <li class="clietns__item">
        <a
          href="#"
          target="_blank"
          class="item__social-link"
          aria-label="link to client site"
        >
          <svg width="106" height="60">
            <use href="./images/sprite.svg#icon-client4" />
          </svg>
        </a>
      </li>
      <li class="clietns__item">
        <a
          href="#"
          target="_blank"
          class="item__social-link"
          aria-label="link to client site"
        >
          <svg width="106" height="60">
            <use href="./images/sprite.svg#icon-client5" />
          </svg>
        </a>
      </li>
      <li class="clietns__item">
        <a
          href="#"
          target="_blank"
          class="item__social-link"
          aria-label="link to client site"
        >
          <svg width="106" height="60">
            <use href="./images/sprite.svg#icon-client6" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
